.Rproj.user
.Rhistory
.RData
.Ruserdata

# Irrelevant documents
02.FOMD/old

# Heavy documents
02.FOMD/how_to_use_extration_file.pptx

02.FOMD/04.metadata_harmonisation/02.metadata/04.added_to_06_FOMD_metadata_original_long/added_to_10_MD_Rosen_24_Effec_Sc.csv

02.FOMD/04.metadata_effectsize/fomd10_effect_size.csv

02.FOMD/04.metadata_effectsize/fomd10/fomd10_MD_Rosen_24_Effec_Sc.csv

02.FOMD/04.metadata_effectsize/fomd10_clean/fomd10_clean_MD_Rosen_24_Effec_Sc.csv

02.FOMD/01.metadata_harmonisation/02.metadata/04.added_to_06_FOMD_metadata_original_long/added_to_10_MD_Rosen_24_Effec_Sc.csv
